.signup-content-card{
    width: 400px;
    margin:30px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:30px;
   .signup{
    
        margin: 30px auto;
        display:flex;
        flex-direction: column;
        width:380px;
        input {
            border: none;
            border-bottom: 2px solid gray;
            height:30px;
            &:focus{
                background-color: lightblue;
            }
        }
        button{
            height: 30px;
        }   
    }
    .title{
        margin: 30px auto;
        width:380px;
    }
    
}

.signup-link{
        margin: 30px auto;
        width:380px;
    }